<form action="/secrets" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" value="<%= session[:user_id]%>">
  <label>
  New Secret <input type="text" name="secret">
  </label>
  <input type="submit" name="submit" value="Create Secret">
</form>
